{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <a href="{% url 'main:index' %}">Главная</a>
    <a href="{% url 'main:info' %}">О нас</a>
    <a href="{% url 'main:contacts' %}">Контакты</a>
    <a href="{% url 'main:product' %}">Продукты</a>
    {% if user.is_authenticated %}
    <a href="{% url 'main:logout' %}">Выход</a>
    <a href="{% url 'main:profile' %}">Профиль</a>
    {% else %}
    <a href="{% url 'main:login' %}">Вход</a>
    {% endif %}
</header>
{% block content %}
{% endblock %}
</body>
</html>